
<div ng-controller="loginController">
	
	<div ng-show="state === states.invalid" class="login-failed">
		The credentials you provided were incorect
	</div>

	<div ng-show="state === states.error" class="login-failed">
		There was an error connecting to the server, try again
	</div>

	<form class="login-box">
		
		<div class="pull-left">
			<label>Username:</label>
			<input id="username" type="text" ng-model="user.username">
			
			<label>Password:</label>
			<input id="password" type="password" ng-model="user.password">
		</div>

		<div class="pull-right" ng-show="isSubmitEnabled()">
			<button classs="btn btn-small" ng-click="login()">
				Login
			</button>
		</div>
	</form>

</div>