<div ng-controller="diagnosisController">
	
	<div class="diagnosis-header">
		<h1>
			Diagnosis <span ng-show="state === states.loading || state === states.submitting" class="loader"></span>
		</h1>
		<p>In the following section you can provide the system with your current health data, and perform a diagnosis</p>
	</div>

	<!-- Generated data form -->
	<div class="diagnosis-page-body">
		<div class="diagnosis-form">
			
			<div ng-repeat="group in formData">
				<h3 ng-show="group.name !== null && group.name !== ''">{{group.name}}</h3>

				<div ng-repeat="field in group.fieldList">
					
					<div class="col-md-4">
						{{field.name}}
					</div>

					<div class="col-md-8 pull-left">
						<!-- Simple field -->
						<div ng-if="field['@type'] === 'SimpleFieldValue'">
							<div ng-if="field.type === 'STRING'">
								<input class="diagnosis-input" type="text" ng-model="field.value">
							</div>

							<div ng-if="field.type === 'DATE'">
								<input class="diagnosis-input" type="text" name="field.name" ng-model="field.value" ui-date-mask="dd-MM-yyyy" placeholder="yyyy-mm-dd">
							</div>

							<div ng-if="field.type === 'INTEGER'">
								<input class="diagnosis-input" type="text" name="field.name" ng-model="field.value" ui-number-mask="0">
							</div>

							<div ng-if="field.type === 'FLOAT'">
								<input class="diagnosis-input" type="text" name="field.name" ng-model="field.value" ui-number-mask="2">
							</div>
						</div>

						<!-- Choice field -->
						<div ng-if="field['@type'] === 'ChoiceFieldValue'">
							<select class="form-control diagnosis-input" ng-model="field.value" ng-options="value for value in field.possibleValues"></select>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
	<hr>

	<div class="row diagnosis-buttons">
		<div class="col-md-9">
			<div ng-show="state === states.loading" class="diagnosis-page-body pull-right">
				Loading...
			</div>

			<div ng-show="state === states.submitting" class="diagnosis-page-body pull-right">
				Submitting...
			</div>

			<div ng-show="state === states.error" class="diagnosis-page-body pull-right error">
				Error!
			</div>

			<div ng-show="state === states.success" class="diagnosis-page-body pull-right success">
				Success!
			</div>
		</div>

		<div class="md-col-3">
			<button ng-disabled="state !== states.ok" class="btn btn-small btn-grey" ng-click="submitForm()">Submit</button>
			<button disabled class="btn btn-small btn-black" ng-click="">Submit & diagnose</button>
		</div>
	</div>

	<!-- Diagnosis results -->
	<div class="diagnosis-page-body">
		<div ng-include="diagnosis-results.html"></div>
	</div>

</div>