<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">
            <span class="glyphicon glyphicon-cloud"></span>
            Medical Diagnosis
        </a>
    </div>
    <ul class="text-right">
        <li class="btn btn-lg" ui-sref="home">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </li>

        <li class="btn btn-lg" ui-sref="profile">
            <span class="glyphicon glyphicon-book"></span>
            My profile
        </li>

        <li class="btn btn-lg" ui-sref="diagnosis">
            <span class="glyphicon glyphicon-cloud"></span>
            Diagnosis
        </li>
        <li class="btn btn-lg" ui-sref="about">
            <span class="glyphicon glyphicon-book"></span>
            About
        </li>
    </ul>
</nav>
