.body {
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
}

.loader {
    position: absolute;
    min-height: 32px;
    min-width: 32px;
    background: url('../img/loader.gif') no-repeat center center;
}

.success {
	color: #22dd22;
}

.error {
	color: #dd1111;
}

/* Home page */
.home-header {
	margin-top: 20px;
}

/* Login page */
.login-header {
	height: 20px;
	margin-top: 10px;
}

.login-box {
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	width: 200px;
}

.login-box input {
	width: 100%;
	margin: 5px;
}

.login-box button {
	margin-top: 5px;
	margin-right: -5px;
}

.login-failed {
	color: #dd1111;
	text-align: center;
}

/* Profile page */
.profile-header {
}

.profile-form {
	padding: 20px;
	min-height: 200px;
}

.profile-feedback {
	margin-top: 10px;
	text-align: right;
}

.profile-buttons {
	margin-top: 10px;
}

/** Diagnosis */
.diagnosis-page-body {
	min-height: 100px;
	margin: 10px;
}

.diagnosis-input {
	width: 150px;
}

.diagnosis-buttons {
	margin-top: 10px;
}

/* History */
.history-page-body {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 100px;
}